<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/calculator">E Juice Calculator</a>
  <div class="col-sm-6 pull-sm-left">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/tgrowden/ejuice-calc" target="_blank"><i class="fa fa-github-alt"></i></a>
      </li>
    </ul>
  </div>
