<div class="jumbotron">
  <div class="row" id="recipesDiv">
    <div class="col-sm-12 col-lg-6 flex">
      <input type="text" id="recipeName" class="form-control" placeholder="Recipe Name" name="name" />
      <button type="button" class="btn btn-default" id="saveRecipe">Save Recipe</button>
    </div>
    <div class="col-sm-12 col-lg-6">
      <select id="recipeSelect" class="form-control">
        <option value="default">--Select a Recipe--</option>
      </select>
      <div class="flex">
        <button type="button" class="btn btn-default" id="deleteRecipe">Delete Recipe</button>
        <button type="button" class="btn btn-default" id="updateRecipe">Update Recipe</button>
      </div>
    </div>
  </div>
</div>
