<div class="row">
<div class="col-sm-12 flex-center" id="recipesDiv">
	<select>
		<option value="selectOne">--Select a Recipe--</option>
		<option> <%= user._id %> </option>
	</select>
	<select>
		<option value="selectOne">--Select a Recipe--</option>
	</select>
</div>
</div>