<div class="row">
<div class="col-sm-12 flex-center" id="recipesDiv">
	<select>
		<option value="selectOne">--Select a Recipe--</option>
		<option> <%= user._id %> </option>
		<option> <%//= recipes.name %> </option>
	</select>
	<button type="button" id="saveRecipe">Save Recipe</button>
<!--	<button type="button" id="updateRecipe">Update Recipe</button> -->
	<span>Recipe Name: </span><input type="text" id="recipeName" name="name" />
</div>
</div>